
<div class="movieRow" style="padding-top: 80px">

  <div >
    <div class="movieRow--listArea" >
      <div class="testeimagemPrincipal" >
        <img *ngIf="itemAtual !== 0" [src]="images[itemAtual - 1].img" [alt]="images[itemAtual - 1].alt" class="testeImagemApagadaEsquerda" >
        <div >
          <p class="info--title--caris" > <span> <span style=" color:  rgb(166, 154, 146);"> ▶ </span> <b> EMPREENDIMENTOS</b>  CARIS  </span> <a class="btn-more" >VER TODOS | <span style="font-size: 9px;margin-left:8px;">▼</span></a></p>
          <img class="testeimagem" [src]="images[itemAtual].img" [alt]="images[itemAtual].alt" >

          <div class="testeButton" >
            <p class="movieRow--item--title title-active"> <b>{{images[itemAtual].text.title}}</b> | {{images[itemAtual].text.status}} </p>
            <div class="buttons">
              <mat-icon (click)="handleLeftArrow ()" aria-hidden="true" style="cursor: pointer;" aria-label="arrow back">arrow_back</mat-icon>
              <mat-icon (click)="handleRightArrow ()" aria-hidden="true" style="cursor: pointer;" aria-label="arrow forward">arrow_forward</mat-icon>
            </div>
          </div>
          
        </div>
        <div class="testeImagemApagadaDireita">
          <img class="imagemApagadaDireita" *ngIf="itemAtual < images.length - 1" [alt]="images[itemAtual]"  style="width: calc(100% -300px )" [src]="images[itemAtual + 1].img" [alt]="images[itemAtual + 1].alt"  >
        </div>  
      </div>
    </div>
  </div>
</div>