html {

  scroll-behavior: smooth;
}

.content-slider{
  overflow:hidden;
  height: 100vh;
}

.quem-somos{
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgb(231, 231, 231);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.quem-somos-titulo {
  color:  rgb(179, 158, 143);
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 30px;
  transition: all 0.5s ease;
}
.quem-somos-subtitulo{
  color:  rgb(166, 154, 146);
  font-weight: bold;
  margin-bottom: 15px;
  transition: all 0.5s ease;
}
.quem-somos-texto{
  padding: 15px;
  color:  rgb(180, 167, 158);
  transition: all 0.5s ease;
}

.content-quem-somos{
  background-color:#fff;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.squad-area{
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: flex-end;
  margin-top: -90px;
}
.squad-marrom-2{
  margin: 0px 10px;
  line-height:0;
  width:0;
  height:0;
  border-style: solid;
  border-color: transparent rgb(96, 83, 75) rgb(96, 83, 75) rgb(96, 83, 75);
  border-width: 10px 60px 100px;
  border-radius: 5px 5px 0 0;
}
.squad-marrom-3{
  margin-left: 10px ;
  border: solid 30px transparent;
  width: 30px;
  height: 30px;
  border-color: rgb(96, 83, 75) transparent transparent rgb(96, 83, 75);
  border-width: 30px;
  border-radius: 0 0 15px 15px ;
}
.squad-marrom-5{
  margin-right: 10px ;
  border: solid 30px transparent;
  width: 30px;
  height: 30px;
  border-color:  rgb(96, 83, 75) rgb(96, 83, 75) transparent transparent ;
  border-width: 30px;
  border-radius: 0 0 15px 15px ;
}


.squad-medio-2{
  margin: 0px 10px;
  line-height:0;
  width:0;
  height:0;
  border-style: solid;
  border-color: transparent rgb(120, 108, 101) rgb(120, 108, 101) rgb(120, 108, 101);
  border-width: 10px 60px 100px;
  border-radius: 5px 5px 0 0;
}
.squad-medio-3{
  margin-left: 10px ;
  border: solid 30px transparent;
  width: 30px;
  height: 30px;
  border-color: rgb(120, 108, 101) transparent transparent rgb(120, 108, 101);
  border-width: 30px;
  border-radius: 0 0 15px 15px ;
}
.squad-medio-5{
  margin-right: 10px ;
  border: solid 30px transparent;
  width: 30px;
  height: 30px;
  border-color:  rgb(120, 108, 101) rgb(120, 108, 101) transparent transparent ;
  border-width: 30px;
  border-radius: 0 0 15px 15px ;
}


.squad-claro-2{
  margin: 0px 10px;
  line-height:0;
  width:150px;
  height:60px;
  background-color:  rgb(166, 154, 146);

  border-radius: 0 34px 0 10px;
}
.squad-claro-4{
  margin: 0px 10px;
  line-height:0;
  width:120px;
  height:110px;
  background-color:  rgb(166, 154, 146);
  border-radius: 0 0 10px 0;
}
.squad-claro-3{
  margin-left: 10px ;
  border: solid 30px transparent;
  width: 30px;
  height: 30px;
  border-color:transparent rgb(166, 154, 146)  rgb(166, 154, 146)  transparent;
  border-width: 30px;

}
.squad-claro-5{
  margin-right: 10px ;
  border: solid 30px transparent;
  width: 30px;
  height: 30px;
  border-color:transparent transparent  rgb(166, 154, 146) rgb(166, 154, 146);
  border-width: 30px;
}


.link-social-media{
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 1s ease;
}
.link-social-media:hover{
  background-color: rgb(147, 135, 127);
}
.social-media{
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
}


.aparecer{
  animation-name: fade;
  animation-duration: 2s;
  visibility: block;
}

.esconder{
  visibility:hidden;
}

.fale-conosco-subtitle{
  font-size:27px; 
  color:rgb(69, 63, 61);
  margin-bottom: 20px;
}
.fale-conosco-form{
  width: 60%;
  margin: 20px;
}
.fale-conosco-div{
  display: flex; 
  align-items: center; 
  flex-direction:column
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 1123px) {
  .squad-area{
    display: none;
  }
  .fale-conosco-form{
    width: 100%;
  }
}

@media (max-width: 700px) {
  .fale-conosco-subtitle{
    font-size: 13px;
    margin-bottom: 10px;
  }
  .fale-conosco-form{
    width: 100%;
  }
  .squad-area{
    display: none;
  }
  .quem-somos-titulo {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .quem-somos-subtitulo{
    padding: 10px;
  }
  .quem-somos-texto{
    padding: 10px;
    font-size: 13px;
  }
  .content-quem-somos{
    padding: 5px;
  }

  .content-slider{
    margin-top:50px;
    display: flex;
    height: 80vh;
  }
}
