
<app-carousel [images]="images" [autoSlide]="true"></app-carousel>
<div class="quem-somos">
  
  <div class="squad-area"  style="justify-content: flex-end;">
    <div class="squad-1"></div>
    <div class="squad-2"></div>
    <div style="margin-top:50px">
      <div class="squad-medio-2"></div>
      <div style="display: flex"> <div class="squad-medio-3"></div> <div class="squad-medio-5"></div></div>
      <div style="display: flex; margin-top:-50px;"> <div class="squad-claro-3"></div> <div class="squad-claro-5"></div></div>
      <div class="squad-claro-2"></div>
    </div>
    <div style="margin-left: -40px">
      <div class="squad-marrom-2"></div>
      <div style="display: flex"> <div class="squad-marrom-3"></div> <div class="squad-marrom-5"></div></div>
      <div style="display: flex; margin-top:-50px;"> <div class="squad-claro-3"></div> <div class="squad-claro-5"></div></div>
      <div class="squad-claro-4"></div>
    </div>
  </div>

  <div  class="content-quem-somos">
    <div [class]=" showQuemSomos ? 'aparecer quem-somos-titulo' : 'esconder quem-somos-titulo'" style="display: flex;align-items: center; flex-direction:column;">
      <p  >QUEM <span style="font-weight: bold;">SOMOS?</span></p>
      <div style="height: 2px; width: 35px; background-color: rgb(122, 112, 106); margin-top: 15px;"></div>
    </div>

    <p [class]=" showQuemSomos ? 'aparecer quem-somos-subtitulo' : 'esconder quem-somos-subtitulo'">{{info.subtitulo}}</p>
    <p [class]=" showQuemSomos ? 'aparecer quem-somos-texto' : 'esconder quem-somos-texto'" >{{info.texto}}</p>
    <div></div>

    <iframe  style="margin-top: 20px;" width="70%" height="40%"
    src="../../../assets/CarisVideo.mp4">
    </iframe>
    <div class="social-media"><i style="margin-right: 20px;">NOSSAS REDES SOCIAIS </i> <a class='fab fa-facebook-square link-social-media' style='font-size:20px'></a> <a class='fab fa-instagram  link-social-media' style='font-size:20px'></a> <a class=' link-social-media	fab fa-twitter-square' style='font-size:20px'></a> </div>     

  </div>

  <div class="squad-area">
    <div class="squad-1"></div>
    <div class="squad-2"></div>
    <div style="margin-top:50px">
      <div class="squad-medio-2"></div>
      <div style="display: flex"> <div class="squad-medio-3"></div> <div class="squad-medio-5"></div></div>
      <div style="display: flex; margin-top:-50px;"> <div class="squad-claro-3"></div> <div class="squad-claro-5"></div></div>
      <div class="squad-claro-2"></div>
    </div>
    <div style="margin-left: -40px">
      <div class="squad-marrom-2"></div>
      <div style="display: flex"> <div class="squad-marrom-3"></div> <div class="squad-marrom-5"></div></div>
      <div style="display: flex; margin-top:-50px;"> <div class="squad-claro-3"></div> <div class="squad-claro-5"></div></div>
      <div class="squad-claro-4"></div>
    </div>
  </div>

</div>
<div class="content-slider">
  <app-slider [images]="images" ></app-slider>
</div>
