* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.content-page{
  width: 100%;
  padding-top: 60px;
  overflow:hidden;
}

.content-quem-somos{
  background-image: url('https://fotos.vivadecora.com.br/decoracao-sala-de-estar-studioeloyefreitas-13428-proportional-height_cover_medium.jpg');
  height: 70%;
}

.quem-somos{
  background:  rgba(0, 0, 0, 0.70 ) ;
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation-name: fade;
  animation-duration: 0.5s;
}

.quem-somos-titulo {
  color: #fff;
  font-size: 45px;
  margin-bottom: 30px;
  transition: all 0.5s ease;
  animation-name: fade;
  animation-duration: 0.5s;
}

.quem-somos-subtitulo{
  color: #ddd;
  font-weight: bold;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  animation-name: fade;
  animation-duration: 4s;
}

.quem-somos-texto{
  width: 50%;
  text-align: center;
  padding: 15px;
  color:  #ccc;
  transition: all 0.5s ease;
  animation-name: fade;
  animation-duration: 6s;
}


.content-frase-socio{
  background-color: rgb(  165, 153, 145);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: #fff;
  height: 30%;
  animation-name: back;
  animation-duration: 2s;
}

.frase-socio{
  font-size: 30px;
  animation-name: fade;
  animation-duration: 6s;
}

.frase-autor{
  margin-top:10px;
  font-size: 22px;

}

.content-video{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fila-txt{
  margin-left: 100px;
 display: flex;
}

.txt-titulo{
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 25px;
  color:rgb(  160, 148, 141);
}

.txt-conteudo{
  margin-right: 70px;
  margin-top:20px;
  color:rgb(  138, 138, 138);
  font-size: 12px;
}

.item-txt{
  margin-top: 50px;
  width: 350px;
  padding: 10px;
  margin-bottom: 30px;
}

.video-iframe{
  width: 900px;
  height: 500px;
  margin-bottom: 100px;
}

.nossa-cede-titulo {
  color:  rgb(179, 158, 143);
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 30px;
  transition: all 0.5s ease;
}

.content-nossa-cede{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.nossa-cede{
 display: flex;
 align-items:center;
 justify-content: center;
 margin-bottom: 60px;
}

.nossa-cede-img{
  width: 400px;
  height: 200px;
}
.nossa-cede-text{
  padding-left: 40px;

  h4{
    font-size: 35px;
  }

  p{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 400px;
    color:rgb(  138, 138, 138);
    font-size: 13px;
  }

  small{
    font-weight:  bold;
    color:rgb(84, 81, 79)
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes back {
  from {
    background-color: #fff;
  }
  to {
    background-color: rgb(  165, 153, 145);
  }
}


@media (max-width: 1123px) {
  
  .quem-somos-titulo {
    font-size: 35px;
  }
  
  .quem-somos-texto{
    width: 100%;
    padding: 5px;
    color:  #ccc;
  }
}

@media (max-width: 700px) { 
  .quem-somos-titulo {
    font-size: 20px;
  }
  
  .quem-somos-texto{
    font-size:12px;
  }

  .quem-somos-subtitulo{
    font-size:14px;
  }

  .frase-socio{
    font-size: 18px;
  }
  
  .frase-autor{
    margin-top:5px;
    font-size: 15px;
  }

  .fila-txt{
    flex-direction: column;
  }

  .txt-titulo{
    font-size: 20px;
  }
  
  .txt-conteudo{
    margin-right: 70px;
    margin-top:10px;
    font-size: 11px;
  }

  .video-iframe{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }

  .nossa-cede-titulo{
    font-size:20px;
    margin-bottom: 15px;
    margin-top: 14px;
  }
  .nossa-cede{
    flex-direction: column;
  }
  .nossa-cede-img{
    padding: 20px;
  }

  .nossa-cede-text{
    padding: 20px;
    h4{
      font-size: 20px;
    }
  
    p{
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      font-size: 12px;
    }
  
    small{
      font-size: 11px;
    }
  }
}